.lever {
  font-family: sans-serif;
}

.lever h3 {
  color: #FFFFFF;
  font-family: Aeroport, sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 3.45rem;
  letter-spacing: initial;
  text-transform: initial;
}

.lever ul {
  color: #FFFFFF;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: initial;
  text-transform: initial;
  list-style-type: none;
}

.lever ul li {
  line-height: 1.8em;

}

.lever ul a {
  color: #grey;
}

.lever ul a:hover {
  color: white;
  underline: #881BF5;
}
